/bin
/vendor
cover.out

# ignore vim swp
*.swp

# ignore ide files (debug config etc...)
/.vscode
/.idea

# helm chart dependencies
**/charts/*.tgz
**/charts/**/requirements.lock
.tagmanifest
deploy/charts/external-secrets/templates/crds/*.yaml
deploy/olm/node_modules
deploy/olm/bundles/*
deploy/olm/community-operators

site/
e2e/k8s/deploy
e2e/e2e.test
